<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/font-awesome.min.css') }}"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
  type="text/css"
/>
<link 
  rel="preconnect" 
  href="https://fonts.googleapis.com" />
<link 
  rel="preconnect" 
  href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/th.js"></script>


<style>
  * {
    font-family: "Athiti", sans-serif;
  }
</style>

<title>Flask MySQL</title>


